body {
    background-color: #00FF00;  /* Cor de fundo verde */
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
}